body {
    font-size: 18px;
}

form {
    font-size: 2em;
}

input {
    margin-bottom: 1em;
}

label {
    display: block;
}

time {
    font-style: italic;
}

#log p {
    border-bottom: 1px solid #ccc;
}